header {
/*background-image: url("../images/Tree-bird.png"), url("../images/Paper-texture.png");
background-color: #ede8e3;
height: 200px;
background-position: bottom right;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;*/
padding: 30px 850px 0px 70px;
margin: auto;
/*width: 50px;*/
line-height: 1.25;
color: #000000;
font-size: 1.5em;
letter-spacing: 3px;
text-shadow: 1px 2px 6px #2102026c;
/*border: 1px solid black;
background-color: rgba(240, 248, 255, 0.749);*/
}

nav {
position: sticky;
top: 0;
& ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #9D9690 /*#59544F*/;
/*position: sticky;*/
/*position: -webkit-sticky;*/
/*top: 0;*/
}
}

li {
float: right;
}
 
li a {
display: block;
color: #000000;
text-align: center;
font-weight: bold;
padding: 14px 16px;
text-decoration: none;
}
  
li a:hover:not(.active) {
background-color: #000000;
color: #ede8e3;
}
  
.active {
background-color: #531B22;
color: #ede8e3;
}

body {
/*max-width: 60em;*/
margin: 0 auto 0 auto;
padding: 0;
/*border-style: dotted;*/
background-image: url("../images/Tree-bird.png"), url("../images/Paper-texture.png");
background-color: #ede8e3;
background-position: bottom right;
background-attachment: fixed;
background-size: cover;
background-clip: content-box;
font-family: Georgia, 'Times New Roman', Times, serif;
font-size: 100%;
/*position: relative;*/
/*background-image: linear-gradient(to bottom, rgb(201, 184, 184), rgba(201, 184, 184, 0.158));*/
/*& p, h2, h3 {
padding: 0px 50px;
}*/
}

section {
background-color: #ede8e3f2;
margin: 40px;
padding: 5px 30px;
border: 1px solid #b7b4b1a7;
text-align: justify;
& h2, h3 {
text-align: center;    
}
}

/*#column {
float: ;
}*/

/*width: 25%;
height: 309px;
float: inline-start;
display: inline-block;
margin: auto 0 auto 40px;
/*background-image: url(../images/poe-portrait.png);*/

#read-poe {
/*background-image: url(../images/poe3.png);
background-position: left bottom;
background-size: 20%;
background-repeat: no-repeat;*/
a {
background-color: #9D9690;
display: block;
/*min-inline-size: 50px;*/
min-width: 300px;
max-width: 300px;
color: #000000;
text-align: center;
font-weight: bold;
padding: 14px 16px;
margin: auto auto 25px;
/*left: 29%;*/
text-decoration: none;
/*box-shadow: 0 0 6px #2102026c;*/
}
          
a:hover {
background-color: #531B22;
color: #ede8e3;
}
}

/*#right-column {
    width: 57%;
    /*padding: auto;*/
    /*display: inline-block;
    float: inline-end;
    margin: auto 40px 40px 0;   
    box-sizing: border-box;*/

#suggestions {
background-image: /*url(../images/poe-portrait.png),*/ url(../images/raven.png);
background-color: #ede8e3f2;
background-position: left bottom/*, right*/;
background-repeat: no-repeat;
background-size: 30%;

table, th, td {
border-collapse: collapse;
border: 1px solid #b7b4b1a7;
padding: 1em;
margin: /*20px 50px*/ 20px auto;
text-align: left;
caption-side: bottom;
    & th {
    background-color: #9D9690;  
    }
}
}
    /*}*/

#lenore {
/*background-color: #ede8e3f2;*/
/*background-image: url(../images/lenore2.jpg);
background-position: center right;
background-attachment: scroll;
background-repeat: no-repeat;
background-size: 40%;*/
/*margin: 40px*/ /*40px 470px 40px 40px;*/
/*padding: 5px 30px;*/
/*border: 1px solid #b7b4b1a7;*/
text-align: center;
/*text-wrap: pretty;*/
}


